container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python web/manage.py collectstatic --noinput"
  02_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python web/manage.py makemigrations --noinput"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python web/manage.py migrate --noinput"
