<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

		<title>Poo time</title>
		<meta name="description" content="A brand new website that offers you the knowledge of your poo.">
		<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


		<link rel="stylesheet" href="assets/style.css">
		<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	    <script src="https://github.highcharts.com/v2.2.0/highcharts.src.js"></script>

	</head>

	<body>
		<!-- Site content -->
		<div id="wrapper">
			<!-- one page -->
			<div id="menu">
				<a href="./">
				</a>

				<nav>
					<img src="img/logo.png" alt="logo_little_poo">
					<a href="pootime.html">Poo time</a>
				</nav>
			</div>

			<div id="container"

			<h2>Best score of the week</h2>
			<h3> 300g </h3

			<p> Have you ever wonder what is your poo like?
			You want to share your poo experience, but you cannot, because
			there is no technology avaible to do this, but now you found the
			perfect way to handle the situation.

			Lets share to the world your experience.



			</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
		<script src="https://github.highcharts.com/v2.2.0/highcharts.src.js"></script>
	</body>
</html>
